[Unit]
Description=Gunicorn instance to serve bingchilling!
after=network.target

[Service]
User=wumbl3vps
Group=www-data
WorkingDirectory=/home/wumbl3vps/Dev/bingchilling-game/
ExecStart=/home/wumbl3vps/Dev/bingchilling-game/server/run.sh

[Install]
WantedBy=multi-user.target
