.new_alert {
    position: absolute;
    inset: 0;
    /* opacity: 0; */
    z-index: 1009;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    pointer-events: none;
}

.top_fade {
    position: absolute;
    bottom: 0;
    /* inset: 0; */
    opacity: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    backface-visibility: hidden;
    background-image: linear-gradient(0deg, rgb(0, 0, 0), transparent);
    transition: opacity .4s ease;
}

.alert {
    display: flex;
    position: fixed;
    transition: bottom .4s ease-in-out;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1010;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 20px;
    font-family: "Roboto Condensed";
    font-size: 30px;
    pointer-events: none;
}

.text_alert_container {
    position: absolute;
    top: 1%;
    width: clamp(60ch, 40%, 95%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.text_alert_container_alt {
    position: absolute;
    bottom: 6vh;
    width: clamp(60ch, 40%, 95%);
    height: 94vh;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column-reverse;
    align-items: stretch;
}

.alert_text {
    position: relative;
    top: 0px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
    /* text-shadow: 0px 0px 4px rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    font-family: "Roboto Condensed";
    font-size: 25px;
    user-select: none;
    transition: opacity .4s ease, backdrop-filter .4s ease;
    backdrop-filter: blur(15px)brightness(50%);
    border-radius: 2ch;
    padding: 1rem;
    opacity: 0;
    width: 90%;
    /* pointer-events: all; */
}

.alert_text:hover {
    backdrop-filter: blur(0px) !important;
}

@keyframes get_that_alert_outta_here {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(20%);
        opacity: 0;
    }
}

@keyframes come_in_trickle_in_baby {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.top_alert {
    background: radial-gradient(ellipse farthest-corner at 50% 0%, var(--alert_color) 10%, transparent 60%);
}

.bottom_alert {
    background: radial-gradient(ellipse farthest-corner at 50% 100%, var(--alert_color) 10%, transparent 60%);
}