* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scrollbar-width: none;
}

:root {
    --main_game_color: rgb(12, 177, 163);
    --main_game_color_b: rgb(76, 9, 131);
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(7, 59, 55);
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 100vh 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#scrollable_screens {
    transition: opacity .3s ease;
    width: 100%;
    height: 100%;
    /* display: grid;
    place-items: center; */
    isolation: isolate;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#main {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    perspective: 1200px;
    isolation: isolate;
    background-color: hsl(0, 0%, 5%);
    overflow: hidden;
}

#menu {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(0, 0%, 7%)
}

#game {
    --game_color_a: var(--main_game_color);
    --game_color_b: var(--main_game_color_b);
    position: relative;
    height: 100vh;
    max-width: 100vw;
    aspect-ratio: 16/9;
    display: grid;
    place-items: center;
    background: var(--game_color_a);
    /* background: linear-gradient(20deg, var(--game_color_a), var(--game_color_b)); */
    /* box-shadow: 0px 0px 100px var(--game_color_a); */
    transition: transform .5s ease, transform-origin .5s ease, background .1s ease, box-shadow .3s ease, border-radius .4s ease, margin .7s cubic-bezier(0, 0.73, 0.32, 1.16);
    transform-style: preserve-3d;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.65);
}

.inverted {
    background: var(--game_color_b)!important;
    /* background: linear-gradient(20deg, var(--game_color_b), var(--game_color_a)) !important; */
    /* box-shadow: 0px 0px 100px var(--game_color_b) !important; */
}

#game:hover {
    box-shadow: 0px 0px 0px 10px white;
}

#game_logo {
    aspect-ratio: 4/1;
    --mask-image: url('/static/graphics/BINGCHILLING W.png');
    --mask-repeat: no-repeat;
    --mask-size: cover;
    --mask-position: center;
    -webkit-mask-image: var(--mask-image);
    -webkit-mask-size: var(--mask-size);
    -webkit-mask-position: var(--mask-position);
    -webkit-mask-repeat: var(--mask-repeat);
    mask-image: var(--mask-image);
    mask-size: var(--mask-size);
    mask-position: var(--mask-position);
    mask-repeat: var(--mask-repeat);
    background-color: rgb(255, 255, 255);
    position: absolute;
    transition: transform .3s ease, width .5s ease, top .5s ease;
}

.fart_streak_game {
    position: relative;
    width: max-content;
    max-width: 88%;
    display: grid;
    place-items: center;
    z-index: 5;
    isolation: isolate;
    transform: scale(0.5)translate3d(0, 0, 333px);
}

.fart_streak_score {
    text-shadow: 50px 10px 3px rgba(255, 255, 255, 0.07);
    --font-size: 10vw;
    text-align: center;
    user-select: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.fart_streak_combo_count {
    transition: font-size .3s ease;
    opacity: 1;
    color: white;
    font-size: clamp(10rem, var(--font-size), min(65vh, 65vw));
    font-family: 'Roboto Condensed';
    /* text-shadow: 0px 0px 4px black; */
}

.runsaver_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    margin: 1.4rem;
    width: 100%;
}

.combosaver_heart {
    width: min(3vh, 3vw);
    position: relative;
    aspect-ratio: 1/1;
    background-image: url('/static/graphics/heart.svg');
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.hit_score {
    opacity: 1;
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 20pt;
    flex-basis: 100%;
    text-align: left;
}

.score_exp {
    /* opacity: 0; */
    position: relative;
    bottom: 0;
    color: white;
    width: min-content;
    height: min-content;
    /* text-shadow: 0px 0px 20px black; */
}

.fart_streak_combo_indicator {
    opacity: 0;
    position: relative;
    inset: 0;
    letter-spacing: -1ch;
    transition: letter-spacing .4s ease-in-out;
    color: white;
    font-size: calc(var(--font-size)*.4);
    font-family: 'Roboto Condensed';
    margin: 1.4rem;
    /* text-shadow: 0px 0px 20px black; */
}

.fart_streak_high_score {
    text-shadow: 50px 10px 3px rgba(255, 255, 255, 0.07);
    position: absolute;
    right: 0;
    user-select: none;
    top: 0;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto Condensed';
    word-break: keep-all;
    white-space: nowrap;
    transform: translateY(-100%);
    /* mix-blend-mode: difference; */
    /* text-shadow: 0px 0px 20px black; */
}

.clip_drop_container {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* isolation: isolate; */
    transform-style: preserve-3d;
    perspective: 700px;
    transform: translate3d(0, 0, 10px);
}

.drop_clip {
    /* height: min(var(--place_width),var(--place_height)); */
    height: min(var(--place_width), var(--place_height));
    top: var(--place_top);
    left: var(--place_left);
    /* top: calc(var(--place_top) - var(--place_width));
    left: calc(var(--place_left) - var(--place_width)); */
    position: absolute;
    display: grid;
    place-items: center;
    border-radius: 5%;
    opacity: 0;
    aspect-ratio: 1/1;
    perspective: 500px;
    transform-style: preserve-3d;
    /* transition: transform .4s ease; */
}

.drop_clip_video_container {
    position: absolute;
    display: grid;
    place-items: center;
    overflow: hidden;
    inset: 0;
    border-radius: inherit;
}

.drop_clip_video_container>video {
    width: 102%;
    height: 102%;
    position: absolute;
    object-fit: fill;
    transition: opacity .3s ease;
}

.ms_count {
    opacity: 0;
    font-family: "Roboto Condensed";
    font-weight: bolder;
    font-size: 30pt;
    width: 110%;
    position: absolute;
    top: 104%;
    color: rgb(255, 255, 255);
    background: black;
    border-radius: 100vh;
    padding: 20px 10px;
    z-index: 20;
    transition: opacity .3s ease;
    user-select: none;
    text-align: center;
}