#video_creator {
	--font-size: min(1.5vh, 1.5vw);
	max-height: 60%;
	max-width: 90%;
	width: 90vw;
	display: grid;
	position: relative;
	overflow: hidden;
	grid-template-rows: 15fr 1fr 1fr;
	justify-items: stretch;
}

#creator_player {
	width: auto;
	position: relative;
	height: 100%;
	opacity: 0.9;
	min-height: 100%;
}

#seek_box {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: rgba(0, 255, 255, 0.05);
	overflow: hidden;
	border-radius: 1rem;
}

#seek {
	position: relative;
	inset: 0;
	width: 0%;
	height: 100%;
	background-color: aqua;
	pointer-events: none;
}

#current_target {
	inset: 0;
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: rgb(255, 0, 234);
	pointer-events: none;
}

#player_pos {
	inset: 0;
	position: absolute;
	width: 0.4%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	pointer-events: none;
	mix-blend-mode: difference;
}

#info_box {
	width: 100%;
	height: 100%;
	text-align: center;
	display: grid;
	position: relative;
	place-items: center;
}

#seek_ms_position {
	font-family: "Roboto Condensed";
	font-size: var(--font-size);
	color: white;
}

#preview_buttons {
	--height: 100%;
	position: absolute;
	left: 0%;
	height: var(--height);
	user-select: none;
	display: grid;
	place-items: center;
	grid-auto-flow: column;
	width: max-content;
    gap: 0.5em;
}

#preview_buttons > a {
	color: rgb(0, 0, 0);
	font-size: var(--font-size);
	font-family: "Roboto Condensed";
	white-space: nowrap;
	padding: 0.4em;
	border-radius: 1vh;
	background-color: aliceblue;
}

#video_selection {
	--height: 100%;
	height: var(--height);
	position: absolute;
	right: 0;
	font-size: var(--font-size);
}
